@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));


#root {
  margin: 0 auto;
  padding: 0;
  box-shadow: border-box;
  margin: 0;
}
body {
    overflow-y: scroll;
}


html {
  scroll-behavior: smooth;
}
    
.swiper-pagination-bullet-active {
  background-color: #EF5613 !important;
}

.swiper-pagination {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}